.cover__link {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100%;
    aspect-ratio: 16/10;

    color: #fff;
    text-decoration: none;

    background: url(../../../images/cover.jpg) center/100% no-repeat;
}
