.place__title {
    width: 100%;
    margin: 0;

    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    box-sizing: border-box;
}

@media screen and (max-width: 984px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
 }

 @media screen and (max-width: 680px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;

        padding: 0 16px;
    }
 }