.lang-link {
    padding-right: 18px;

    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
}

.lang-link:last-of-type {
    padding-right: 0;
}

@media screen and (max-width: 680px) {
    .lang-link {
        font-size: 18px;
        line-height: 20px;
    }
 }