.article {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr; */
}

.article:last-of-type {
    padding-bottom: 0;
}