.lead {
    max-width: calc(984px + 48px*2);    
    padding-top: 56px;
}

@media screen and (max-width: 1100px) {
    .lead {
        padding-top: 48px; 
    }
}
@media screen and (max-width: 984px) {
    .lead {
        padding-left: 0; 
        padding-right: 0; 
    }
}