.lead__title {
    max-width: 720px;
    margin: 0 auto;

    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    word-break: break-all;
}

/* Здесь другой брейк-поинт из-за появляющегося горизонтального скрола
 при ширине экрана от 680 до 695. Размер шрифта не позволяет вместить заголовок в эту ширину.
 На всякий случай добавила еще свойство для переноса слов, если контент не помещается в контейнер, 
 но в этом случае переносится только последняя буква. Показалось не очень красиво, 
 поэтому выбрала вариант с изменением брейк-поинта.*/
@media screen and (max-width: 695px) {
    .lead__title {
        max-width: 288px;

        font-size: 40px;
        line-height: 44px;
    }
}