.lead__title {
    max-width: 720px;
    margin: 0 auto;

    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 680px) {
    .lead__title {
        max-width: 288px;

        font-size: 40px;
        line-height: 44px;
    }
}