.cover__text {
    position: absolute;
    top: 20%;
    z-index: 1;
    width: calc(100% - 48px*2);

    text-align: center;
}

@media screen and (max-width: 1100px) {
    .cover__text {
        width: 100%;
    }
}