.cover__image {
    background: url(../../../images/cover.jpg) center/100% no-repeat;

    display: block;
    position: absolute;
    top: 0;
    z-index: -1;

    min-width: calc(100% - 48px*2);
    min-height: calc(100% - 92px);
}

@media screen and (max-width: 1100px) {
    .cover__image {
        min-width: 100%;
    }
}

@media screen and (max-width: 984px) {
    .cover__image {
        min-height: calc(100% - 88px);
    }
}

@media screen and (max-width: 680px) {
    .cover__image {
        min-height: calc(100% - 64px);
    }
}